/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'fontawesome-alloy';
  src: url("aui/alloy-font-awesome/font/fontawesome-alloy.eot");
  src: url("aui/alloy-font-awesome/font/fontawesome-alloyd41d.eot?#iefix") format("embedded-opentype"), url("aui/alloy-font-awesome/font/fontawesome-alloy.woff") format("woff"), url("aui/alloy-font-awesome/font/fontawesome-alloy.ttf") format("truetype"), url("aui/alloy-font-awesome/font/fontawesome-alloy.svg#fontawesome-alloy") format("svg");
  font-weight: normal;
  font-style: normal; }

.aui {
  background-color: #fff;
  color: #4e4e4e;
  font-family: arial, helvetica, clean, sans-serif;
  font-size: 12px;
  line-height: 22px;
  margin: 0; }
  .aui .carousel-indicators {
    z-index: 1500000; }
    .aui .carousel-indicators .active {
      background-color: #ec2127; }

